.menu-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    border: 1px solid #ddd;
    z-index: 1;
    display: none;
    border-radius: 5px; /* Adjust the value to change the roundness */
  }
  
  .menu-container:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-menu a:hover {
    background-color: #ddd;
  }
  .hamburger {
    color: black;
  }
  